/* Default styles for larger screens */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .meeting-container {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container .form-container {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
}

.meeting-container .remote-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-left: 200px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    /* background-color: aqua; */
}

.meeting-container .local-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    width: 250px;
    height: 150px;
    margin-bottom: 40px;
}

.fa {
    font-size: 20px !important;
}

.UI_Buttons {
    z-index: 1;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container .meeting-container {
        width: 100%;
    }

    .container .form-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .meeting-container .remote-container {
        padding-left: 0;
    }

    .player {
        width: 250px;
        height: 150px;
        margin-bottom: 40px;
    }
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container .meeting-container {
        width: 100%;
    }

    .container .form-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .meeting-container .remote-container {
        padding-left: 0;
    }

    .player {
        width: 150px;
        height: 100px;
        margin-bottom: 40px;
    }
}